# Ignore all files in the data folder
Dissertation/CycleGAN_erik_linder/data/

# Ignore all images in the cyclegan images folder
Dissertation/CycleGAN_erik_linder/implementations/cyclegan/images/

Dissertation/images/
Dissertation/saved_models/

Machine Learning/

data/

/saved_checkpoints/
/saved_models/

/__pycache__/

/images/day2night/

/implementations/cyclegan/train_model.ipynb

train_model.ipynb