# Ignore all files in the data folder
Dissertation/CycleGAN_erik_linder/data/

# Ignore all images in the cyclegan images folder
Dissertation/CycleGAN_erik_linder/implementations/cyclegan/images/

Dissertation/images/
Dissertation/saved_models/

Machine Learning/

data/

/saved_checkpoints/
/saved_models/
/images/

/__pycache__/
__pycache__/
*.pyc

/images/day2night/

train_model.ipynb


Dissertation/CycleGAN_Unet/images/
Dissertation/CycleGAN_Unet/saved_checkpoints/
Dissertation/CycleGAN_Unet/saved_models/